<%= render 'shared/errors', obj:@article %>
<div class="row create-blog">
	<div class="col-md-12">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<%= f.text_field :title, class:"form-control", placeholder:"Title" %>
			</div>
			<div class="form-group">
				<%= f.text_area :description, class:"form-control", placeholder:"Description of the content", rows:"10" %>
			</div>			
			<%= f.submit class:"btn btn-success" %>
			<%= link_to "Cancel", articles_path, class:"btn btn-danger"%>
		<% end %>	
	</div>
</div>
