<%= render 'shared/errors', obj:@article %>
<div class="row show-blog">
	<div class="col-md-12">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<%= f.text_field :title, class:"form-control", placeholder:"Title" %>
			</div>
			<div class="form-group">
				<%= f.text_area :description, class:"form-control", placeholder:"Description of the content", rows:"10" %>
			</div>
			<div class="manipulate-article">
				<ul>
					<li style="float: left;"><%= link_to "", articles_path, class:"glyphicon glyphicon-chevron-left text-success"%></li>
					<li><%= f.submit class:"btn btn-info" %></li>
				</ul>
			</div>			
		<% end %>	
	</div>
</div>
