<div class="show-blog">
	<div class="row">
		<div class="col-md-12">
			<h2><%= @article.title %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><%= @article.description %></p>
		</div>
	</div>
	<div class="manipulate-article">
		<ul>
			<li><%= link_to "", articles_path, class:"glyphicon glyphicon-chevron-left text-success" %></li>
			<li><%= link_to "", edit_article_path(@article), class:"glyphicon glyphicon-edit text-warning" %></li>
			<li><%= link_to "", article_path(@article), method: :delete, data:{confirm: "Are you sure you want to delete the article"}, class:"glyphicon glyphicon-trash text-danger" %></li>
		</ul>
	</div>
</div>